body{
	font-size: 15px;
	color: #000;
	background-color: #fff;
	/*google fonts*/
	font-family: 'Nunito Sans', sans-serif;
}
.clear{clear: both;}
.btn_style{
	font-size: 20px;
}
.newStyle{
	position: fixed;
	bottom: 10%;
	right: 10%;
}
#apendDiv{
	padding: 20px;
}
.deletestyle{
	margin-right: 10px;
}
.deletestyle:hover{
	transition: all 0.5s ease;
	background-color: rgb(52, 145, 233);
	border-color: rgb(52, 145, 233);
}
.editstyle:hover{
	transition: all 0.5s ease;
	background-color: rgb(52, 145, 233);
	border-color: rgb(52, 145, 233);
}