body{
	font-size: 15px;
	color: #000;
	background-color: #fff;
	/*google fonts*/
	font-family: 'Nunito Sans', sans-serif;
}
.clear{clear: both;}
.btn_style{
	font-size: 20px;
}
.newStyle{
	position: fixed;
	bottom: 10%;
	right: 10%;
}
#apendDiv{
	padding: 20px;
}
.deletestyle{
	margin-right: 10px;
}
.deletestyle:hover{
	transition: all 0.5s ease;
	background-color: rgb(52, 145, 233);
	border-color: rgb(52, 145, 233);
}
.editstyle:hover{
	transition: all 0.5s ease;
	background-color: rgb(52, 145, 233);
	border-color: rgb(52, 145, 233);
}

/* dialog style */
dialog {
	background:linear-gradient(45deg, rgba(0,143,104,.5), rgba(250,224,66,.5));
	color: white;
	text-align: center;
	border: none;
	padding: 2rem;
	border-radius: 6px;
	box-shadow: 0 0 40px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.25);
	max-width: 100%;
  }
  
  dialog[open] {
	animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
  }
  
  dialog::backdrop {
	background: linear-gradient(45deg, rgba(0,143,104,.5), rgba(250,224,66,.5));
  }

  @keyframes appear {
	from {
	  opacity: 0;
	  transform: translateX(-3rem);
	}
  
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  .divstyle{
	  box-shadow: 8px 4px 19px -10px #000;
  }
  /* allign all element in center */
  /* create flex box */
  .flex{
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }